* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.home {
  position: fixed;
  background: url("../img/Outdoor_Side 1.jpg") no-repeat right;
  height: 850px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 144px;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-left {
  width: 812px;
  height: 595px;
  color: #282828;
  background: rgba(255, 255, 255, 0.64);
  border: 1px solid #FFFFFF;
  border-radius: 24px;
}

.home__title {
  margin-top: 53px;
  margin-left: 58px;
  margin-right: 53px;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 60px;
  line-height: 70px;
}

.home__title--primary {
  color: #FA002C;
}

.home__text {
  margin-left: 58px;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-right: 128px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.home__check {
  width: 462px;
  margin-left: 58px;
}

.home__check--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.home__check--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__check--text {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  margin: inherit;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home__check--img {
  margin-right: 23px;
}

.home-right {
  width: 479px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  padding-top: 8px;
}

.home__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 136px;
  padding-left: 26px;
  background: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  margin-left: 9px;
  margin-right: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__country--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 33px;
}

.home__country--title {
  margin-top: 18px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}

.home__country--text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: inherit;
  margin-left: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 19px;
}

.home__country--img {
  width: 85px;
  height: 85px;
}

.home__country--korea {
  margin-bottom: 16px;
}

.home__country--emirates {
  margin-bottom: 16px;
}

.home__country--kazah {
  margin-bottom: 16px;
}

.home__country--china {
  margin-bottom: 10px;
}

.consult {
  margin-top: 36px;
  margin-bottom: 51px;
  margin-left: 58px;
}

.consult__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #FA002C;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  padding: 27px 34px 27px 34px;
}

.consultation {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 6px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 24px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  text-decoration: none;
  margin-right: 48px;
  color: #282828;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.contacts__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #FA002C;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  padding: 16px 27px 16px 28px;
}

.phone {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 6px;
}
/*# sourceMappingURL=style.css.map */