.header
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    padding: 24px 0
.menu
    display: flex
    justify-content: space-between
    align-items: center

.nav
    &__item
        text-decoration: none
        margin-right: 48px
        color: $dark
        font-size: 16px
        line-height: 20px
        font-weight: 500
.contacts
    &__button

        font-size: 18px
        font-weight: 700
        line-height: 26px
        background-color: $primary
        border-radius: 8px
        border: none
        color: $light
        padding: 16px 27px 16px 28px

.phone
    text-decoration: none
    color: $light
    margin-left: 6px
